<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/cara-negra-de-gato.png') }}" type="image/x-icon">
    
    <title>Home</title>
</head>
<body>
    <nav>
        <li>Y Carvalho</li>
        <li><a class="btn-a" href="/">Sair</a>   </li>
        
    </nav>
    <h1>Olá, {{ nome_usuario }}</h1>
    
    
    <center><img width="700px" src="{{ url_for('static', filename='img/welcome.jpg') }}" alt="erro"></center>

   
</body>
</html>
